apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ include "springboot-app.fullname" . }}-postgres-pvc
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: {{ .Values.postgres.storage }}
